* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

html {
  font-family: sans-serif;
}

body {
  background: #ffff;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
}

.main-content {
  margin-top: 100px;
  margin-left: 140px; /* توفير مساحة لـ sidebar */
  flex-grow: 1; /* جعل المحتوى ينمو لملء المساحة */
  padding: 20px; /* إضافة هوامش داخلية */
}

.note {
  background: #ffff;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175,175,175);
  padding: 10px;
  margin-bottom: 15px;
  float: left;

}
.note h1{
  font-size: 1rem;
  margin-bottom: 6px;
}
.note p{
  font-size: 1rem;
  margin-bottom: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.header {
  margin: auto -10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h3 {
  font-size: 2rem;
  margin-left: 10px;
  color: #5f6368;
}

.header img {
  width: 30px;
  height: 40px;
}

form {
  position: relative;
  width: 90%; /* اجعل العرض مرنًا */
  max-width: 600px; /* أقصى عرض */
  margin: 32px auto 50px auto;
  background: #ffff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

form input,
form textarea {
  width: 100%;
  border: none;
  margin: 4px 0; /* إزالة الهوامش الجانبية */
  outline: none;
}


form button {
  position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -18px;
    background: rgb(255 ,200, 18);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}

.note button {
  position: relative;
  float: right;
  color:#f88651;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 2px;
  margin: 2px;
}

@media only screen and (max-width: 600px) {
  .main-content {
    margin-left: 0; /* إزالة المسافة الجانبية على الشاشات الصغيرة */
  }

  .note {
    width: 100%; /* جعل الملاحظات تأخذ العرض الكامل */
    margin-bottom: 10px;
  }

  form {
    width: 95%; /* جعل العرض أكثر مرونة */
    max-width: none; /* إزالة الحد الأقصى */
  }
}

